# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
.venv/
staticfiles/

# Node / Angular
node_modules/
dist/
.npm-cache/
npm_cache/
.angular/

# IDE / OS
.DS_Store
.vscode/
.idea/

# Large media files
*.mp4
*.mov
*.avi
*.mkv
